/* Copyright 2020 Fazt Community ~ All rights reserved. MIT license. */

@font-face {
  font-family: 'Roboto';
  src: url(./Roboto/Roboto-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url(./Roboto/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url(./Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(./Roboto/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url(./Roboto/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url(./Roboto/Roboto-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: 'OpenSans';
  src: url(./OpenSans/OpenSans-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'OpenSans';
  src: url(./OpenSans/OpenSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans';
  src: url(./OpenSans/OpenSans-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: 'OpenSans';
  src: url(./OpenSans/OpenSans-Bold.ttf);
  font-weight: 700;
}
