/* Copyright 2020 Fazt Community ~ All rights reserved. MIT license. */

/* Text Colors*/
$textprimary-color: #FFFFFF;
$textsecondary-color: #FF0039;

/* Base Colors*/
$primary-color: #FF0039;
$secondary-color: #333333;

/* System Colors*/
$night-color: #1A1A1A;
$black-color: #333333;
$red-color: #1A1A1A;
$pink-color: #C00044;
$purple-color: #81004F;

/* Themes Colors*/
$backend-color: #333333;
$frontend-color: #0091B7;
$fullstack-color: #F8C116;
$bots-color: #E44D26;
$other-color: #81004F;