/* Copyright 2020 Fazt Community ~ All rights reserved. MIT license. */

@import '@assets/scss/variables';

.socialLink {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 40px;
  padding: 40px 0;
  color: $black-color;
  text-align: center;
  margin: 0 auto;
  width: 650px;

  &__span {
    color: $textsecondary-color;
    font-weight: bold;
  }
  &__p {
    font-size: 18px;
    margin-top: 35px;
    padding: 0 45px;
  }
  &__links {
    display: flex;
    justify-content: space-evenly;
  }
  &__link {
    margin: 30px 0;
    font-size: 80px;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
  }
}
