#root {
    overflow: hidden;
}

.containerGrid {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__titleGrid {
        &-t1 {
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
            font-weight: 300;
        }
        &-t2 {
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
            font-weight: 600;
            color: #DB224A;
        }
        user-select: none;
        color: inherit;
        font-size: xx-large;
        text-align: end;
        padding-bottom: 5vh;
    }
    &__buttonGrid{
        margin-top: 5vh; 
     }

    &__cardsGrid {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 95vw;
        height: 60vh;

        &__primary {
            margin-right: 30px;
            height: 100%;
            display: grid;
            grid-template-rows: auto;
            grid-column-gap: 1pc;
            grid-auto-flow: column;
            grid-template-columns: auto;
            grid-row-gap: 1pc;
            width: 30%;
        }

        &__secondary {
            width: 70%;
            height: 100%;
            display: grid;
            grid-template-rows: repeat(2, auto);
            grid-column-gap: 1pc;
            grid-auto-flow: column;
            grid-template-columns: auto;
            grid-row-gap: 1pc;
        }

    }
    
}


@keyframes fadeInLeft {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.item-appear {
    opacity: 0;
}

.item-appear-active {
    opacity: 1;
    animation: fadeInLeft 1s linear;
}