
.contributor {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 230px;
    height: 230px;
    border-radius: 20px;
    transition: all 0.8s;
    position: relative;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    &:hover {
      height: 360px;
    }

    &:hover > .contributor__backgroundImage {
      height: 360px;
    }
  }

  &__backgroundImage {
    border-radius: 20px;
    position: absolute;
    background-size: cover;
    background-position: center;
    filter: blur(1px);
    z-index: -1;
    width: 260px;
    height: 260px;
    transition: all 0.5s;
    transform: scale(1.03);
  }

  &__img {
    margin: 1rem auto;
    width: 120px;
    height: 120px;
    border: 4px solid #fff;
    border-radius: 100px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 200px;
    }
  }

  &__noImage {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.22)), #eb013d;
    border-radius: 20px;
  }

  &__name {
    text-align: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-transform: uppercase;
    
    & span {
      font-size: 27px;
    }
  }

  &__charge {
    color: rgba(255, 255, 255, 0.5);
  }

  &__skills {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0;
    align-items: center;
    margin: 0rem 1rem;
    width: 90%;
    border-radius: 190px;
    background: rgba(255, 255, 255, 0.51);
  }
}
