.technologies {
  &__1 {
    float: left;
    margin-right: 1%;
  }
}
.logo__1 {
  display: block;
  margin: auto;
  width: 45px;
  height: 45px;
}
.logo__2 {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #333333;
} 
