/* Copyright 2020 Fazt Community ~ All rights reserved. MIT license. */
@keyframes onFocusCard {
    0% {
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(5px);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.35);
        backdrop-filter: blur(10px);
    }
  }
  @keyframes offFocusCard {
    0% {
        background-color: rgba(0, 0, 0, 0.35);
        backdrop-filter: blur(10px);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(5px);
    }
  }

.proyectCard {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;

    &__background {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(5px);
        animation: offFocusCard 1s ease;
        &:hover{
            background-color: rgba(0, 0, 0, 0.35);
            backdrop-filter: blur(10px);
            cursor: pointer;
            animation: onFocusCard .5s ease;
        
        }
        

        &__upSide {
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            &__containerImage {
                width: 100%;
                height: 60%;
                display: flex;
                align-items: flex-end;
                justify-content: center;

                &__image {
                    height: 80%;

                   
                }
            }

            &__containerBar {
                height: 15%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;


                &__icons {
                    width: 60%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    background-color: #FFFFFF;
                    border-radius: 50px;


                    &__iconArray {
                        height: 65%;
                        transition: height .3s ease-out;

                        &:hover {
                            height: 80%;
                            cursor: pointer;
                            transition: height .3s ease-out;
                        }
                    }
                }

                &__fav {
                    width: 30%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    background-color: #FFFFFF;
                    border-radius: 50px;
                    transition: background-color .3s ease-out;

                    &:hover {
                        background-color: #DB224A;
                        transition: background-color .3s ease-out;
                        cursor: pointer;

                        >span {
                            color: #FFFFFF;
                            transition: color .3s ease-out;
                        }
                    }

                    &__favAmount {
                        font-family: 'Roboto', Arial, Helvetica, sans-serif;
                        font-weight: 600;
                        user-select: none;
                        color: inherit;
                        text-align: end;
                        transition: color .3s ease-out;
                    }

                    &__favIcon {
                        margin-left: 5%;
                        margin-right: 14%;
                        height: 50%;
                    }
                }
            }
        }

        &__downSide {
            width: 100%;
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FFFFFF;
            transition: background-color .3s ease-out;

            &__nameProyect {
                text-align: center;
                font-family: 'Roboto', Arial, Helvetica, sans-serif;
                font-weight: 600;
                user-select: none;
                color: white;
                width: 100%;
            }
        }
    }


}