/* Copyright 2020 Fazt Community ~ All rights reserved. MIT license. */

.proyectCard {
    overflow: hidden;
    height: 300px;
    width: 220px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;

    &__background {
        width: 110%;
        height: 110%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);

        &__upSide {
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            &__containerImage {
                width: 100%;
                height: 60%;
                display: flex;
                align-items: flex-end;
                justify-content: center;

                &__image {
                    height: 7.5em;
                    transition: height.3s ease;

                    &:hover {
                        height: 9em;
                        cursor: pointer;
                        transition: height.3s ease;
                    }
                }
            }

            &__containerBar {
                height: 15%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;


                &__icons {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    background-color: #FFFFFF;
                    border-radius: 50px;


                    &__iconArray {
                        height: 1.3em;
                        transition: height .3s ease;

                        &:hover {
                            height: 1.5em;
                            cursor: pointer;
                            transition: height .3s ease;
                        }
                    }
                }

                &__fav {
                    width: 30%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    background-color: #FFFFFF;
                    border-radius: 50px;
                    transition: background-color .3s ease;

                    &:hover {
                        background-color: #DB224A;
                        transition: background-color .3s ease;
                        cursor: pointer;

                        >span {
                            color: #FFFFFF;
                            transition: color .3s ease;
                        }
                    }

                    &__favAmount {
                        font-family: 'Roboto', Arial, Helvetica, sans-serif;
                        font-weight: 600;
                        font-size: medium;
                        user-select: none;
                        color: inherit;
                        margin-right: .3em;
                        transition: color .3s ease;
                    }

                    &__favIcon {
                        margin-right: .85em;
                        height: 1em;
                    }
                }
            }
        }

        &__downSide {
            width: 100%;
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FFFFFF;
            transition: background-color .3s ease;

            &__nameProyect {
                text-align: center;
                font-family: 'Roboto', Arial, Helvetica, sans-serif;
                font-weight: 600;
                font-size: large;
                user-select: none;
                color: white;
                width: 100%;
            }
        }
    }


}